/* Header */
header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

header .inner-logo img {
    max-height: 50px;
    max-width: 100%;
}

header .inner-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

header .inner-menu > ul > li {
    margin-left: 20px;
}
/* End Header */

/* Footer */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* End Footer */

/* box-head */
.box-head {
    margin-bottom: 30px;
}

.box-head .inner-title {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 600;
    color: green;
}
/* End box-head */

/* product-item */
.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
}
.product-item .inner-image {
    width: 100%;
    aspect-ratio: 4/3;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.product-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-item .inner-feature{
    position: absolute;
    top: 0;
    right: 0;
    background: green;
    color: white;
    padding: 3px 6px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
}

.product-item .inner-content {
    padding: 15px;
}

.product-item .inner-content .inner-title {
    font-size: 20px;
    font-weight: 600;
}

.product-item .inner-content .inner-price-new {
    font-size: 18px;
    font-weight: 600;
    color: green;
}

.product-item .inner-content .inner-price-old {
    font-size: 18px;
    font-weight: 600;
    color: red;
    text-decoration: line-through;
}

.product-item .inner-content .inner-discount {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background: red;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 8px;
}
/* End product-item */

/* product-detail */
/* product-detail */
.product-detail .inner-thumb img {
    width: 100%;
    height: auto;
  }
  
  .product-detail .inner-title {
    font-size: 32px;
    margin-bottom: 15px;
  }
  
  .product-detail .inner-category {
    margin-bottom: 10px;
  }
  
  .product-detail .inner-price-new {
    color: green;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .product-detail .inner-price-old {
    color: red;
    font-weight: 600;
    font-size: 20px;
    text-decoration: line-through;
    margin-bottom: 10px;
  }
  
  .product-detail .inner-percent {
    margin-bottom: 10px;
  }
  
  .product-detail .inner-percent span {
    color: #fff;
    background: red;
    font-weight: 600;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 8px;
  }
  
  .product-detail .inner-stock {
    margin-bottom: 10px;
  }
  
  .product-detail .inner-stock span {
    color: #fff;
    background: green;
    font-weight: 600;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 8px;
  }
  
  
/* end product-detail */


/* Sub-menu */
.sub-menu {
    position: relative;
    z-index: 999;
  }
  
  .sub-menu ul {
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #aaa5a5;
    min-width: 120px;
    display: none;
  }
  .sub-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .sub-menu:hover > ul {
    display: block;
  }
  
  .sub-menu ul li {
    position: relative;
  }
  
  .sub-menu ul li ul {
    right: 100%;
    top: 0;
  }
  
  .sub-menu ul li:hover > ul {
    display: block;
  }
  
  /* End sub-menu */
  
  [show-alert] {
    position: fixed;
    top: 70px;
    right: -850px;
    z-index: 9999;
    
}
[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden{
    from {
        right: -850px;
    }
    to {
        right: -100%;
        display: none;
    }
}

[show-alert] [close-alert] {
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}

/* user detail */
.user-detail {
  max-width: 600px;
  margin: auto;
  background: #f9f9f9;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
}

.user-detail h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.user-detail .mb-4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #444;
}

.user-detail .mb-4 b {
  color: #000;
}

.user-detail img {
  width: 100px;
  border-radius: 8px;
  border: 1px solid #ddd;
  
}

.badge {
  display: inline-block;
  padding: 0.4em 0.65em;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.375rem;
  color: #fff;
}

.text-bg-success {
  background-color: #28a745;
}

.text-bg-danger {
  background-color: #dc3545;
}

/* end product detail */

/* Chat */

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f0f0f0;
}

.chat .inner-body {
  flex: 1;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 450px;
  overflow-y: auto;
}

.chat .inner-body .inner-incoming,
.chat .inner-body .inner-outgoing {
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
}

.chat .inner-body .inner-incoming {
  justify-content: flex-start;
}

.chat .inner-body .inner-outgoing {
  justify-content: flex-end;
}


.chat .inner-body .inner-incoming .inner-name {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

.chat .inner-body .inner-incoming .inner-content {
  background-color: #e0e0e0;
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
  color: #333;
}

.chat .inner-body .inner-outgoing .inner-content {
  background-color: #fe5da3;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
}


.chat .inner-foot {
  border-top: 1px solid #ddd;
  padding: 10px;
}

.chat .inner-form {
  display: flex;
  align-items: center;
}

.chat .inner-form input {
  flex: 1;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0 10px;
  outline: none;
}

.chat .inner-form button {
  border-radius: 15px;
  border: 1px solid #FE5DA3;
  background: #FE5DA3;
  color: #fff;
  height: 32px;
  padding: 0 10px;
  cursor: pointer;
}
/* chua config image voi content */
.chat .inner-body .inner-images img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background: #efefef;
  padding: 10px;
  margin: 0 5px 5px 0;
  border-radius: 5px;
}

.chat .inner-body .inner-outgoing .inner-images {
  /* margin-left: auto; */
  text-align: right;
}

.chat .inner-body .inner-outgoing .inner-images img {
  margin: 0 0 5px 5px;
}


.chat .inner-preview-images {
  position: relative;
}

/* chua config image voi content */

.chat .inner-preview-images .label-container,
.chat .inner-preview-images .input-container {
  display: none;
}

.chat .inner-preview-images .image-preview {
  height: auto;
  padding: 0;
  border-radius: 0;
}

.chat .inner-preview-images .image-preview-item {
  width: 90px;
  background-size: contain;
}

/* End chat */

/* emoji */
.tooltip {
  visibility: hidden;
}
.tooltip.shown{
  visibility: visible;
  opacity: 1;
}

/* end emoji */

/* box-typing */
.box-typing {
  position: relative;
}

.box-typing .inner-dots {
  position: relative;
  height: 20px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  border-radius: 45px;
  margin-top: 2px;
}


.box-typing .inner-dots span {
  animation: blink 1.5s infinite;
  height: 5px;
  width: 5px;
  background: #252525;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
}


.box-typing .inner-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.box-typing .inner-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
/* End box-typing */

/* box-user */
.box-user {
  display: flex;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.box-user .inner-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: #f2f2f2;
  margin-right: 10px;
}

.box-user .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-user .inner-info {
  flex: 1;
}

.box-user .inner-info .inner-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}

.box-user [btn-cancel-friend] {
  display: none;
}

.box-user.add [btn-add-friend] {
  display: none;
}

.box-user.add [btn-cancel-friend] {
  display: inline-block;
}

.box-user [btn-deleted-friend] {
  display: none;
}

.box-user.refuse [btn-accept-friend] {
  display: none;
}

.box-user.refuse [btn-refuse-friend] {
  display: none;
}

.box-user.refuse [btn-deleted-friend] {
  display: inline-block;
}
.box-user [btn-accepted-friend] {
  display: none;
}

.box-user.accepted [btn-accept-friend] {
  display: none;
}

.box-user.accepted [btn-refuse-friend] {
  display: none;
}

.box-user.accepted [btn-accepted-friend] {
  display: inline-block;
}


.box-user .inner-status {
  font-size: 12px;
  color: #00d800;
  opacity: 0;
}

.box-user .inner-status[status="online"] {
  opacity: 1;
}

/* End box-user */

/* box-room */
.box-room {
  display: flex;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.box-room .inner-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: #f2f2f2;
  margin-right: 10px;
}

.box-room .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end box room */