extends ../../layouts/default.pug
include ../../mixins/box-head.pug 
include ../../mixins/products-layout.pug 


block main 
    .section-products-featured.my-5
        .container.my-3
            .row
                .col-12
                    +box-head("Featured Products")
            .row
                +product-grid(productsFeatured)

    .section-products-featured.my-5
        .container.my-3
            .row
                .col-12
                    +box-head("Newest Products")
            .row
                +product-grid(productsNewest)