mixin sort 
    .card.mb-3
        .card-header Sort
        .card-body
           .row
                .col-4
                    div(sort)
                        select(
                            class="form-control"
                            name="sort"
                            sort-select
                        )
                            option(disabled selected) --Sort--
                            option(value="position-desc") Descending position
                            option(value="position-asc" ) Ascending position
                            option(value="price-desc") Descending price 
                            option(value="price-asc") Ascending price 
                            option(value="title-asc") A - Z Tiltle 
                            option(value="title-desc") Z - A Title 

                        button(
                            class="btn btn-danger mt-2"
                            sort-clear
                        )  Clear